<nav class="navbar navbar-default">
            <div class="container-fluid">
                
            <brand></brand>
            <menu> </menu>
               
            </div><!-- /.container-fluid -->
</nav>