<header>
        <div class="bar-top-menu"></div>

        <navbar></navbar>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-md-offset-1"><img src="http://ilacadwo.w23.wh-2.com/BO/img/empresa/logo_boticas_salud_nuevo.gif" /></div>
            <div class="col-md-5">
                <b class="info_msg">El contenido mostrado en esta página es sólo para el uso de los colaboradores de Boticas y Salud S.A.C</b>
                <p class="refresh_msg">Actualice con F5 si se presenta algún inconveniente</p>
            </div>
        </div>
        <div cla
ss="row botonera">
            <div class="col-md-6 col-md-offset-1">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-menu-right"></span>Manual funciones</button>
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-menu-right"></span>M. Procedimientos</button>
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-menu-right"></span>Contáctos Central</button>
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-menu-right"></span>Contáctos Locales</button>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="fecha">
                    Julio 11, 2017
                </div>
            </div>

        </div>
    </header>