 <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li *ngFor="let item of list" class="{{list.activated?'active':''}}" >
                            <a href="#" >
                                {{item.nombre}}
                                <span class="sr-only">(current)</span
                            ></a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->